*{padding:0; margin:0;}
body{
	background-image:url(../i/bg.jpg);
	background-size:cover;
	font-family:"Arial";
}
#wrapper{
	width:960px;
	margin:auto;
	margin-top:10px;
	border:1px solid black;
	box-shadow:3px 3px 50px black;
}
header{
	width:100%;	
	height:250px;
	background-color:#FFF;
}
header img {
	margin:auto;
	display:block;	
}
strong{
}
nav{
	background-color:rgba(255,255,0,.9);	
	height:40px;	
	line-height:32px;
}
nav ul li {
	list-style:none;
	display:inline-block;
	padding:4px 5px;
	font-weight:bold;
}
nav ul li a {
	padding:0 10px;	
	text-decoration:none;
}
a:link {
	color:black;	
}
a:visited{
	color:black;
}
a:hover{
	color:#00FF05;	
}
a:active{
	
}
section {
	background-color:rgba(0,0,0,.5);
	padding-bottom:10px;
	background-color:rgba(0,153,0,.5);
	min-height:600px;
	padding-top:10px;
}
article {
	width:600px;
	height:auto;
	/*margin:10px auto 0 auto;*/
	margin:auto;
	margin-bottom:10px;
	background-color:#CCC;
	border-radius:10px;
	padding:20px 20px;
	box-sizing:border-box;
	overflow:hidden;
	border:1px solid #666666;
}
h1{
	font-size:88px;
	font-style:italic;
	text-align:center;	
}
h2{
	font-size:36px;	
}
h3{
	font-size:28px;	
}
h2,h3{margin-bottom:15px;}

.text-center {text-align:center;}
